<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homePage.css">
    <title>Home Page</title>
</head>

<body>

    <main class="container">
        <div class="wrapper">
            <h1 class="title">Site e Portifólio Pessoal</h1>
    
            <div class="wrapper__presentation">
                <div class="text">
                    <h4>Ola, eu sou</h4>
                    <h2>Jorge <span>Soares</span></h2>
                    <p>Sou cientista da computação e atualmente faço mestrado.
                        Amo ciência e desenvolvimento, principalmente front-end.</p>
                        <a href="#wrapper__projects"><button>ÚLTIMOS TRABALHOS</button></a>
                </div>
                <div class="image">
                    <div class="wrapper__social">
                        <a href="https://github.com/jorgesfj"><div class="github"></div></a>
                        <a href="https://www.linkedin.com/in/jorge-soares-farias/"><div class="linkedin"></div></a>
                        <a href="mailto:jorgesoares87.jj@gmail.com"><div class="gmail"></div></a>
                    </div>
                </div>
            </div>
    
            <div class="wrapper__about__me">
                <div class="text__about__me">
                    <h2><span>Sobre</span> Mim</h2>
                    <p>Cientista da computação com experiência em ciência de dados e aprendizado de máquina e programação web/mobile.    
                        Conhecimentos em: Java Script, Dart, Flutter, HTML, CSS entre outras. </p>
                    <button><a href="https://drive.google.com/file/d/1_UzoYl_YbJgBkSGbbp4w3nDe3Gw0tHpH/view?usp=sharing">Baixe meu currículo</a></button>
                </div>
                <div class="wrapper__skills">
                    <div class="skill">
                        <p class="one">Desenvolvimento Web</p>
                        <div class="img_80"></div>
                        <p>80%</p>
                    </div>
                    <div class="skill">
                        <p class="two">Desenvolvimento Móvel</p>
                        <div class="img_80"></div>
                        <p>80%</p>
                    </div>
                    <div class="skill">
                        <p class="three">Banco de Dados</p>
                        <div class="img_60"></div>
                        <p>60%</p>
                    </div>
                    <div class="skill">
                        <p class="four">Front - End</p>
                        <div class="img_60"></div>
                        <p>60%</p>
                    </div>
                </div>
            </div>
    
            <div class="wrapper__projects" id="wrapper__projects">
                <h1>Últimos Projetos</h1>
                <p>Aqui estão os últimos projetos desenvolvidos por mim com as mais
                    diversas tecnologias.
                </p>
                <div class="projects">
                    <% projects.forEach(project => {%>
                        <div class="card">
                            <%if (project.imgUrl != undefined) {%>
                                <div class="img"><img src="/images/projects/<%=project.imgUrl%>"  height="100%" width="100%"></div>
                            <%} else {%>
                                <div class="img"><img src="/images/social/github.png"  height="100%" width="100%"></div>
                            <%}%>
                            <div class="type"><%=project.type%></div>
                            <div class="title"><%=project.title%></div>
                            <a href="<%=project.link%>"><button>Ler mais</button></a>
                        </div>
                    <%});%>
                </div>
                
                <form action="/api/goToWorks" method="get">
                    <button type="submit">Ver Todos os trabalhos</button>
                </form>
            </div>
    
            <div class="wrapper__experience">
                <div class="text__experience">
                    <h2><span>Melhores</span> Experiências</h2>
                    <p>Esta área contém algumas das melhores experiências de 
                        trabalho que já realizei.
                    </p>
                    <button>Consultar Preços</button>
                </div>
    
                <div class="experiences">
                    <% experiences.forEach(experience => {%>
                        <div class="experience_card">
                            <h3 class="title"><%=experience.title %></h3>
                            <h4 class="period">periodo | <%=experience.dateStart %> - <%=experience.dateEnd %></h4>
                            <p class="description"><%=experience.description%>
                            </p>
                        </div>
                    <%});%>
                    <form action="/api/goToExperiences" method="get">
                        <button type="submit">Ver todas as experiências</button>
                    </form>
                </div>
            </div>
    
            <div class="wrapper__articles">
                <div class="text__articles">
                    <h1>Artigos</h1>
                    <h2>Aqui contém meus artigos publicados em eventos e 
                        criados na internet.
                    </h2>
                </div>
                <div class="articles">
                    <%articles.forEach(doc => {%>
                        <div class="card_article">
                            <div class="img"><img src="/images/articles/<%=doc.imgUrl%>"   height="100%" width="100%"></div>
                            <div class="date">Abril 1, 2022</div>
                            <div class="title"><%=doc.title%></div>
                            <a href="<%=doc.link%>"><button>Ler mais</button></a>
                        </div>
                    <%});%>
                </div>
            </div>
    
            <div class="wrapper__send__message">
                <div class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4434.236391546056!2d-34.95343583450968!3d-8.054927437993191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1be2115430ab%3A0x20ceccca91a11dd3!2sCIn%20-%20Centro%20de%20Inform%C3%A1tica%20-%20UFPE!5e0!3m2!1spt-BR!2sbr!4v1649099568547!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                <div class="send_message">
                    <h1>Enviar uma mensagem</h1>
                    
                    <form action="/api/sendEmail" method="post">
                        <div class="row1">
                            <input type="text" class="name" name="name" id="name" placeholder="Nome">
                            <input type="email" class="email" name="email" id="email" placeholder="E-mail">
                        </div>
                        <input type="text" name="subject" class="subject" id="subject" placeholder="Assunto">
                        <textarea class="msg" name="emailBody" id="emailBody" cols="35" rows="8" class="text_area" placeholder="Digite sua mensagem aqui"></textarea>
                        
                        <button type="submit">Enviar Mensagem</button>
                    </form>
                </div>
            </div>
            
            <div class="footer">
                <h2 class="em"><a href="mailto:jorgesoares87.jj@gmail.com">jorgesoares87.jj@gmail.com</a></h2>
                <h2> +55 (82) 99801-4278</h2>
                <div class="wrapper__social">
                    <a href="https://github.com/jorgesfj"><div class="github"></div></a>
                    <a href="https://www.linkedin.com/in/jorge-soares-farias/"><div class="linkedin"></div></a>
                    <a href="mailto:jorgesoares87.jj@gmail.com"><div class="gmail"></div></a>
                </div>
            </div>
    
        </div>
    
    </main>
</body>

</html>